.Rproj.user
.Rhistory
.RData
.Ruserdata
..Rcheck
/vignettes/hipathia-vignette.html
/vignettes/hipathia-vignette.pdf
/vignettes/hipathia-vignette.log
/vignetter/hipathia-vignette.tex
/vignettes/hipathia-vignette_files
/hipathia.Rproj
/private
/R/load_hpAnnot.R
